# python things
*.pyc

# mac things
.DS_Store

# ...svn ಠ_ಠ
.svn

# redis dumps
dump*

# virtualenvs
venv
differ-venv

# local environment files
.env
local_settings.py

# celery's scheduler file
celerybeat-schedule.db

